* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* applies base properties to everything contained within the page */

body {
    background-color: rgb(30, 31, 31);;
}
/* Sets background color using hex codes to define color */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(30, 31, 31);
    color: #ffffff;
}
/* Increase of space between the content and border 
   Sets up a few different options for font
   Sets background color using hex codes to define color
   Sets text color using hex codes to define color*/

header h1 {
    display: inline-block;
    font-size: 48px;
    color: rgb(30, 31, 31);
    background-color: teal;
}
/*Sets up name block of the header, as well as selecting font-size and bkg color.*/


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Increase of space between the content and border
   Increase of space for the right margin to occupy 
   Brings the nav content to other side to space from Logo
   Sets up a few different options for font and sets font size */


header nav ul li {    
    display: inline-block;
    margin-left: 25px;
    text-align: right;
}
/*allows these units to display left to right instead of stacked
  Increase of space for the left margin to occupy*/

a {
    color: #ffffff;
    text-decoration: none;
}
/*Uses hex codes to define color
and removes decoration from nav links*/

p {
    font-size: 16px;
}
/*Changes font size for non-title content*/

footer {
    width: 100%;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 48px;
    color: rgb(30, 31, 31);
    background-color: teal;
}
/* Increase of space between the content and border 
   Sets up a few different options for font and sets font size
   Centers the text for the page footing
*/

footer h2 {
    font-size: 20px;
}
/*Sets font size for the content at the bottom of footer*/

footer ul li {
    text-decoration: underline;
    margin-left: 25px;
    display: inline-block
    
}
/* Underlines the text and increases left margin space */

footer ul li a {
    text-align: right;
    color: rgb(30, 31, 31);
}
/* Sets text color to black */

.Projects {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Chevron.jpg");
    background-size: cover;
    background-position: center;
}
/*.Projects sets up a background image
   Sets up a defined height for image and a dynamic width
   Increases space for the margin to occupy on the bottom
   Resizes the image to fit a certain size and centers it within the page*/

#projSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Centers content and flexes its direction */

main a {
    color: teal;
    font-size: 45px;
}
/* Sets text color and font size */

main h2 {
    display: inline-block;
    font-size: 48px;
    color: rgb(30, 31, 31);
    background-color: teal;
}
/* Sets text color, font size, and background color */

.holder h2{
   text-align: center;
}
/* Centers the text */

.float-left {
    float: left;
    margin-right: 25px;
}
/*Pulls content to the left
 Increases space for the margin to occupy on the right*/

.float-right {
    float: right;
    margin-left: 25px;
}
/*Pulls content to the right
 Increases space for the margin to occupy on the left*/

.holder {
    color: rgb(30, 31, 31);
    text-align: center;
    background-color: teal;
    margin-right: 20px;
    padding: 20px;
    width: 70%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
}
/*.benefits is the side content window next to the .content section
Increase of space between the content and border 
Increases space for the margin to occupy on the right
Float:right allows it to apply itself to the right of .content instead of on it own line
Sets up a maximum width and gives benefits box no maximum height
Sets up a few different options for font and sets font size
Sets background color using rbg codes to define color*/


.About-Me {
    margin-bottom: 32px;
}
/*Increases space for the margin to occupy on the bottom*/

.About-Me h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Sets the bottom margin for H3 headers to 10px and centers it */

.About-Me a {
    color: rgb(30, 31, 31);
}
/*Increases space for the margin to occupy on the bottom
  Aligns the text in the center of the box*/


.About-Me img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Display:block centers the image in the box on the X axis
  Sets up margin values
  Sets a maximum width for the image to display within
  All 3 classes within benefits had identical style.css code,
    so it was consolidated from 3 to 1*/


.search-engine-optimization {
    margin-bottom: 20px;
    /* padding: 50px; */
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #ffffff;
}
/* Sets up a bottom margin, and padding
sets a height value of 300px 
sets up a few font families
sets up a text and background color*/


#search-engine-optimization {
    width: 250px;
    height: 200px;
    background-image: url("../images/WDP.png");
}
/* Sets up a height, width, and background image */

#online-reputation-management {
    width: 250px;
    height: 200px;
    background-image: url("../images/weather.png");
}
/* Sets up a height, width, and background image */

#fixed-site {
    width: 700px;
    height: 400px;
    background-image: url("../images/movieproject.png");
}
/* Sets up a height, width, and background image */

#social-media-marketing {
    width: 250px;
    height: 200px;
    background-image: url("../images/Calculator.jpg");
}
/* Sets up a height, width, and background image */

.row-section{
    display:flex;
    justify-content: space-between;
    width: 700px;
}
/* sets up properties for the flexbox section */

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* sets up a bottom margin and font size */

.search-engine-optimization:hover{
    opacity: .75;
}
/* on hover, this allows the application boxes to appear as if they are highlighted */

@media screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
    }

@media screen and (max-width: 500px) {
     .row-section {
         display: flex;
         justify-content: center;
         align-items: center;
        flex-direction: column;
    }
    }
            
  